/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
.flex-basis-100 {
  flex-basis: 100%;
}
.flex-basis-50 {
  flex-basis: 50%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html,
body {
  height: 100vh;
  width: 100% !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.pl-2 {
  padding-left: 2rem;
}
.btn,
.btn-primary {
  background: #d70f64;
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
}

.btn:hover,
.btn-primary:hover,
.btn-primary:active {
  background: #af0049;
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
svg,
.svg-logo-wrapper svg {
  color: #d70f64;
}

svg:hover {
  color: #af0049;
}
li {
  position: relative;
}
#navbarNav ul li::before {
  content: "";
  width: 1px;
  background: #ebebeb;
  height: 37.5%;
  position: absolute;
  left: 0;
  top: 31.25%;
}

/* Hero Section*/
.hero-section {
  margin-top: 60px;
  max-height: 640px;
  margin-bottom: 120px;
  position: relative;
  margin-bottom: 2rem;
}
.hero-section .hero-image {
  position: absolute;
  height: 100%;
  min-height: 640px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 33%;
  right: 0;
  z-index: -1;
}
.hero-content .form-floating {
  width: 69%;
}

.hero-section .hero-heading {
  padding-top: 130px;
  margin-bottom: 40px;
}
.hero-content {
  margin: auto;
}
.hero-content button {
  background: #d70f64;
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
}

.hero-content button:hover {
  background: #af0049;
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
}

.hero-content {
  width: 100%;
}

/*restaurant-shop*/
.restaurant-shop {
  position: relative;
  margin-top: 17rem;
}
.restaurant-shop-img {
  background-image: url("/images/home-vendor-pk.jpg");
  height: 435px;
  background-position: center;
  background-size: cover;
}

.restaurant-shop .hero-heading {
  position: relative;
  font-weight: 300;
  margin-bottom: 1rem;
}

.restaurant-shop .hero-heading::before {
  font-weight: bold;
  position: absolute;
  opacity: 0.06;
  content: "Partners";
  z-index: -1;
  font-size: 9rem;
  bottom: -3rem;
}

.restaurant-content {
  position: absolute;
  top: 60%;
}

.restaurant-content span {
  display: inline-block;
  padding: 10px;
}

/*
Cities
*/
.cities-section {
  margin-top: 17rem;
}
.cities-section .hero-heading {
  margin-bottom: 1.5rem;
  position: relative;
  font-weight: 300;
}

.cities-section .hero-heading::before {
  font-weight: bold;
  position: absolute;
  opacity: 0.06;
  content: "Cities";
  z-index: -1;
  font-size: 9rem;
  bottom: -3rem;
  left: 0;
}
.cities-section .city-content {
  position: relative;
  overflow: hidden;
  margin: 0;
}
.cities-section .city-link {
  color: #fff;
}
.city-link img {
  position: relative;
  z-index: 1;
  transition: transform 0.2s;
}
.city-link img:hover {
  transform: scale(1.1);
}

.cities-section .city-name {
  position: absolute;
  bottom: 0%;
  z-index: 4;
  font-size: 1.5rem;
  font-weight: bold;
}
.cities-section .letter {
  color: #af0049;
  position: absolute;
  opacity: 0.7;
  bottom: -14%;
  left: -3.9%;
  z-index: -1;
  font-size: 7rem;
  font-weight: bold;
  transition: z-index 0.5s ease-in;
}
.cities-section .city-arrow {
  position: absolute;
  background: #d70f64;
  z-index: 4;
  bottom: 0;
  right: 0;
  font-size: 3rem;
  line-height: 0;
  padding: 0.5rem;
  z-index: -1;
  transition: z-index 0.5s ease-in;
  opacity: 0.7;
}
.cities-section .city-arrow svg {
  color: #fff;
}
.city-content:hover .letter,
.city-content:hover .city-arrow {
  z-index: 3;
}
/*
app
*/
.app-section {
  margin-top: 14rem;
  background: #d70f64;
}
.app-section .hero-heading {
  margin-bottom: 1.5rem;
  position: relative;
  font-weight: 300;
  bottom: 3.8rem;
}

.app-section .hero-heading::before {
  font-weight: bold;
  position: absolute;
  opacity: 0.06;
  content: "App";
  z-index: 1;
  font-size: 9rem;
  bottom: -3rem;
  left: 0;
}

.app-section img {
  position: absolute;
  margin-top: -7rem;
  max-height: 600px;
  background-size: 640px;
}

/*
office
*/
.office-scetion {
  margin-top: 14rem;
  background-image: url("/images/home-corporate-pk.webp");
  background-position: center;
  background-size: cover;
}
.office-scetion .hero-heading {
  margin-bottom: 1.5rem;
  position: relative;
  font-weight: 300;
  bottom: 3.8rem;
}

.office-scetion .hero-heading::before {
  font-weight: bold;
  position: absolute;
  opacity: 0.06;
  content: "Office";
  z-index: 1;
  font-size: 9rem;
  bottom: -3rem;
  left: 0;
}

.office-scetion .office-content {
  top: 5rem;
}

/*
faq
*/

.faq-section {
  margin-top: 11rem;
  border: 0;
}

.faq-section a {
  color: #d70f64;
}

.faq-section h3 {
  margin-top: 2rem;
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
  background-image: none;
}
#accordion button {
  color: #000;
  background: #fff;
}
#accordion button:hover,
#accordion button:focus {
  background: #ccc;
}
.faq-section .collapsed:focus,
.faq-section .accordion-button:focus,
.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.faq-section .accordion-body span {
  color: #d70f64;
}

/* social */
.social svg {
  color: #ccc;
  width: 100px;
}
.social svg:hover {
  color: #d70f64;
}
.social-icon {
  font-size: 1.4rem;
}
.social-icon li {
  margin-left: 1.4rem;
}
.social .footer__logo {
  width: 100px;
}

/*privacy-policy-section*/
.privacy-policy-section li {
  display: inline;
}

.privacy-policy-section li a {
  color: #333;
  transition: 0.8s;
}
.privacy-policy-section li a:hover {
  color: #d70f64;
}

/*
countries-section
*/
.countries-section p a {
  color: #666;
}

/*restaurants*/
.popular-restaurants {
  margin-top: min(26rem);
}
.restaurant-image {
  overflow: hidden;
  position: relative;
}
.restaurant-image img {
  transition: transform 0.5s ease;
}

.restaurant-image:hover img {
  transform: scale(1.1);
}

.restaurant-tag {
  background: #d70f64;
  color: #fff;
  margin-top: 1rem;
  padding: 0 0.5rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .hero-content .form-floating {
    padding: 0;
    width: 100%;
    margin-bottom: 1rem;
  }

  .hero-section {
    margin-top: 130px;
    max-height: 480px;
    margin-bottom: 120px;
  }
  .hero-section .hero-image {
    position: absolute;
    height: 100%;
    max-height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    right: 0;
    top: 61px;
    z-index: -1;
  }
}
/**/
.popular-food .popular-section li a,
.popular-food .popular-section h5 {
  color: #666;
  transition: color 0.1s linear;
}
.popular-food .popular-section h5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.6;
}
.popular-food .popular-section li a:hover,
.popular-food .popular-section h5:hover {
  color: #d70f64;
  cursor: pointer;
}
/*media*/
@media (max-width: 576px) {
  .hero-section {
    margin-top: 130px;
    max-height: 280px;
    margin-bottom: 120px;
  }
  .hero-section .hero-image {
    position: absolute;
    height: 100%;
    max-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    right: 0;
    top: 61px;
    z-index: -1;
  }
}
